asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
distlib==0.3.9
Django==5.1.4
filelock==3.16.1
idna==3.10
joblib==1.4.2
numpy==2.2.4
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.6
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
scapy==2.6.1
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tk==0.1.0
tkinterdnd2==0.4.2
tzdata==2024.2
urllib3==2.4.0
virtualenv==20.27.0
